

body {
margin: 10px;
padding: 0px;
background-color: lavender;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

#nav-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    height: 50x;
    background-color: lavender;
}
